<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/professor/head" />
<body>

	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/professor/nav" />

	<div class="container">
		<h2>Detalles del profesor</h2>
		<div class="panel panel-default">
			<div class="panel-heading">Dni</div>
			<div class="panel-body" th:text="${professor.dni}"></div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Nombre</div>
			<div class="panel-body" th:text="${professor.nombre}"></div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Apellidos</div>
			<div class="panel-body" th:text="${professor.apellidos}"></div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Categoría</div>
			<div class="panel-body" th:text="${professor.categoria}"></div>
		</div>
	</div>

	<footer th:replace="fragments/professor/footer" />
</body>
</html>
